fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv

openai

qdrant-client

langgraph
langchain
langchain-community

yt-dlp
youtube-transcript-api
webvtt-py

faster-whisper

apify-client

reportlab

python-multipart
youtube-transcript-api
requests
numpy

orjson